# Игнорируем папку IDE
.idea/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем виртуальные окружения
venv/

# Игнорируем временные файлы и файлы, создаваемые ОС
.DS_Store
Thumbs.db
*.log
*.pot

# Игнорируем файлы конфигурации
*.env
*.local

# Игнорируем все, кроме тестов и нужного кода
!test_*.py
!conftest.py
!requirements.txt
!README.md
!pages/